* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::-moz-selection {
  background-color: #14A76C;
}

*::selection {
  background-color: #14A76C;
}

body {
  background-color: black;
  font-family: 'Baloo Bhai', cursive;
}

.start-game, .win, .loss, .correct-answer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  letter-spacing: 2px;
  -webkit-transition: .6s linear;
  transition: .6s linear;
  border-bottom: 4px solid #14A76C;
  z-index: 1;
}

.start-game h1, .win h1, .loss h1, .correct-answer h1 {
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 60px;
  text-align: center;
  color: #FF652F;
}

@media (orientation: landscape) and (max-width: 1366px) {
  .start-game h1, .win h1, .loss h1, .correct-answer h1 {
    top: 20%;
    padding: 0 15px;
    font-size: 90px;
    width: 100%;
  }
}

@media (orientation: landscape) and (max-width: 830px) {
  .start-game h1, .win h1, .loss h1, .correct-answer h1 {
    font-size: 60px;
    top: 15%;
  }
}

@media (orientation: landscape) and (max-width: 720px) {
  .start-game h1, .win h1, .loss h1, .correct-answer h1 {
    font-size: 50px;
  }
}

@media (orientation: portrait) and (max-width: 1024px) {
  .start-game h1, .win h1, .loss h1, .correct-answer h1 {
    top: 20%;
    font-size: 80px;
  }
}

@media (max-width: 600px) {
  .start-game h1, .win h1, .loss h1, .correct-answer h1 {
    top: 20%;
    font-size: 50px;
    line-height: 110%;
  }
}

.start-game .start-btn, .start-game .reset-btn, .start-game .next-btn, .win .start-btn, .win .reset-btn, .win .next-btn, .loss .start-btn, .loss .reset-btn, .loss .next-btn, .correct-answer .start-btn, .correct-answer .reset-btn, .correct-answer .next-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 60%;
  padding: 5px 15px;
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  background-color: #FF652F;
  border: 3px solid #14A76C;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  -webkit-animation: shake 4s linear infinite;
          animation: shake 4s linear infinite;
}

@media (orientation: landscape) and (max-width: 1366px) {
  .start-game .start-btn, .start-game .reset-btn, .start-game .next-btn, .win .start-btn, .win .reset-btn, .win .next-btn, .loss .start-btn, .loss .reset-btn, .loss .next-btn, .correct-answer .start-btn, .correct-answer .reset-btn, .correct-answer .next-btn {
    font-size: 60px;
  }
}

@media (orientation: landscape) and (max-width: 830px) {
  .start-game .start-btn, .start-game .reset-btn, .start-game .next-btn, .win .start-btn, .win .reset-btn, .win .next-btn, .loss .start-btn, .loss .reset-btn, .loss .next-btn, .correct-answer .start-btn, .correct-answer .reset-btn, .correct-answer .next-btn {
    top: 80%;
    font-size: 40px;
  }
}

@media (orientation: landscape) and (max-width: 720px) {
  .start-game .start-btn, .start-game .reset-btn, .start-game .next-btn, .win .start-btn, .win .reset-btn, .win .next-btn, .loss .start-btn, .loss .reset-btn, .loss .next-btn, .correct-answer .start-btn, .correct-answer .reset-btn, .correct-answer .next-btn {
    padding: 1px 15px;
  }
}

@media (orientation: portrait) and (max-width: 1024px) {
  .start-game .start-btn, .start-game .reset-btn, .start-game .next-btn, .win .start-btn, .win .reset-btn, .win .next-btn, .loss .start-btn, .loss .reset-btn, .loss .next-btn, .correct-answer .start-btn, .correct-answer .reset-btn, .correct-answer .next-btn {
    top: 70%;
    font-size: 60px;
  }
}

@media (orientation: portrait) and (max-width: 450px) {
  .start-game .start-btn, .start-game .reset-btn, .start-game .next-btn, .win .start-btn, .win .reset-btn, .win .next-btn, .loss .start-btn, .loss .reset-btn, .loss .next-btn, .correct-answer .start-btn, .correct-answer .reset-btn, .correct-answer .next-btn {
    font-size: 40px;
  }
}

@media (max-width: 400px) {
  .start-game .start-btn, .start-game .reset-btn, .start-game .next-btn, .win .start-btn, .win .reset-btn, .win .next-btn, .loss .start-btn, .loss .reset-btn, .loss .next-btn, .correct-answer .start-btn, .correct-answer .reset-btn, .correct-answer .next-btn {
    font-size: 40px;
    padding: 1px 15px;
  }
}

.start-game .start-btn:hover, .start-game .reset-btn:hover, .start-game .next-btn:hover, .win .start-btn:hover, .win .reset-btn:hover, .win .next-btn:hover, .loss .start-btn:hover, .loss .reset-btn:hover, .loss .next-btn:hover, .correct-answer .start-btn:hover, .correct-answer .reset-btn:hover, .correct-answer .next-btn:hover {
  cursor: pointer;
  background-color: #f94304;
  border-color: #008952;
}

.loss h1 {
  top: 10%;
}

.loss .reset-btn {
  top: 80%;
  text-align: center;
  line-height: 45px;
}

.loss p {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 20px;
  text-align: center;
  color: #FF652F;
}

@-webkit-keyframes shake {
  1% {
    -webkit-transform: translate(-55%, -50%);
            transform: translate(-55%, -50%);
  }
  4% {
    -webkit-transform: translate(-45%, -50%);
            transform: translate(-45%, -50%);
  }
  7% {
    -webkit-transform: translate(-55%, -50%);
            transform: translate(-55%, -50%);
  }
  10% {
    -webkit-transform: translate(-45%, -50%);
            transform: translate(-45%, -50%);
  }
  13% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@keyframes shake {
  1% {
    -webkit-transform: translate(-55%, -50%);
            transform: translate(-55%, -50%);
  }
  4% {
    -webkit-transform: translate(-45%, -50%);
            transform: translate(-45%, -50%);
  }
  7% {
    -webkit-transform: translate(-55%, -50%);
            transform: translate(-55%, -50%);
  }
  10% {
    -webkit-transform: translate(-45%, -50%);
            transform: translate(-45%, -50%);
  }
  13% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.start-game.hide {
  top: -110%;
}

.win, .loss, .correct-answer {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.win.active, .loss.active, .correct-answer.active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.win .animate {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 1px;
  height: 1px;
  background-color: red;
  border-radius: 50%;
  opacity: 1;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  -webkit-animation: fireworks 1.2s linear infinite;
          animation: fireworks 1.2s linear infinite;
  z-index: -1;
}

.win .animate:nth-last-child(1) {
  top: 20%;
  left: 80%;
  background-color: blue;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.win .animate:nth-last-child(2) {
  top: 45%;
  left: 30%;
  background-color: green;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.win .animate:nth-last-child(3) {
  top: 50%;
  left: 95%;
  background-color: orange;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

.win .animate:nth-last-child(4) {
  top: 90%;
  left: 90%;
  background-color: purple;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

.win .animate:nth-last-child(5) {
  top: 85%;
  left: 15%;
  background-color: yellow;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.win .animate:nth-last-child(6) {
  top: 60%;
  left: 65%;
  background-color: PINK;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

@-webkit-keyframes fireworks {
  100% {
    opacity: 0;
    -webkit-transform: scale(300);
            transform: scale(300);
  }
}

@keyframes fireworks {
  100% {
    opacity: 0;
    -webkit-transform: scale(300);
            transform: scale(300);
  }
}

.wrapper {
  position: relative;
  max-width: 1200px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: 4%;
}

.wrapper .question {
  position: relative;
  width: 100%;
  height: 40%;
  border: 5px solid #14A76C;
  background-color: #FF652F;
  text-align: center;
  border-radius: 1%;
  overflow: hidden;
}

@media (max-width: 1366px) {
  .wrapper .question {
    width: 100%;
    margin: 0 auto;
  }
}

.wrapper .question h2 {
  width: 80%;
  height: 20%;
  margin: 0 auto;
  padding: 5px;
  border-bottom: 4px solid #14A76C;
  font-size: 40px;
}

@media (orientation: landscape) and (max-width: 1024px) {
  .wrapper .question h2 {
    padding-bottom: 7%;
  }
}

@media (orientation: landscape) and (max-width: 830px) {
  .wrapper .question h2 {
    padding: 5px;
    font-size: 26px;
    border: none;
  }
}

@media (orientation: portrait) and (max-width: 1024px) {
  .wrapper .question h2 {
    padding-top: 2%;
  }
}

@media (orientation: portrait) and (max-width: 450px) {
  .wrapper .question h2 {
    font-size: 30px;
  }
}

@media (orientation: portrait) and (max-width: 450px) {
  .wrapper .question h2 {
    font-size: 22px;
  }
}

.wrapper .question h3 {
  width: 100%;
  height: 80%;
  padding: 20px;
  font-size: 40px;
}

@media (orientation: landscape) and (max-width: 1024px) {
  .wrapper .question h3 {
    font-size: 32px;
  }
}

@media (orientation: landscape) and (max-width: 830px) {
  .wrapper .question h3 {
    font-size: 22px;
  }
}

@media (orientation: landscape) and (max-width: 720px) {
  .wrapper .question h3 {
    font-size: 18px;
  }
}

@media (max-width: 600px) {
  .wrapper .question h3 {
    font-size: 15px;
  }
}

@media (orientation: portrait) and (max-width: 450px) {
  .wrapper .question h3 {
    font-size: 24px;
  }
}

@media (orientation: portrait) and (max-width: 450px) {
  .wrapper .question h3 {
    font-size: 18px;
  }
}

.wrapper .answers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  width: 100%;
  height: 59%;
  margin-top: 1%;
}

@media (orientation: portrait) {
  .wrapper .answers {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.wrapper .answers .answer {
  position: relative;
  -ms-flex-preferred-size: 49%;
      flex-basis: 49%;
  height: 45%;
  padding: 20px;
  background-color: #FF652F;
  border: 5px solid #14A76C;
  border-radius: 1%;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.wrapper .answers .answer:hover {
  cursor: pointer;
  background-color: #f94304;
  border-color: #008952;
}

@media (orientation: landscape) and (max-width: 1366px) {
  .wrapper .answers .answer {
    -ms-flex-preferred-size: 49%;
        flex-basis: 49%;
    height: 47%;
  }
}

@media (orientation: portrait) and (max-width: 1024px) {
  .wrapper .answers .answer {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    height: 23%;
  }
}

.wrapper .answers .answer p {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 30px;
}

@media (orientation: landscape) and (max-width: 1366px) {
  .wrapper .answers .answer p {
    font-size: 45px;
  }
}

@media (orientation: landscape) and (max-width: 1024px) {
  .wrapper .answers .answer p {
    font-size: 40px;
  }
}

@media (orientation: landscape) and (max-width: 830px) {
  .wrapper .answers .answer p {
    font-size: 24px;
  }
}

@media (orientation: landscape) and (max-width: 720px) {
  .wrapper .answers .answer p {
    font-size: 17px;
  }
}

@media (orientation: portrait) and (max-width: 1024px) {
  .wrapper .answers .answer p {
    font-size: 38px;
  }
}

@media (orientation: portrait) and (max-width: 768px) {
  .wrapper .answers .answer p {
    font-size: 28px;
  }
}

@media (orientation: portrait) and (max-width: 450px) {
  .wrapper .answers .answer p {
    font-size: 22px;
  }
}

@media (orientation: portrait) and (max-width: 320px) {
  .wrapper .answers .answer p {
    font-size: 18px;
  }
}

.animateDiv {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 200%;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 101, 47, 0)), color-stop(#ff652f), to(#ff652f));
  background-image: linear-gradient(to right, rgba(255, 101, 47, 0), #ff652f, #ff652f);
  opacity: 0;
}

.animateDiv.animate {
  -webkit-animation: moveRight 2s linear;
          animation: moveRight 2s linear;
}

@-webkit-keyframes moveRight {
  0% {
    opacity: 1;
  }
  100% {
    right: -200%;
    opacity: 1;
  }
}

@keyframes moveRight {
  0% {
    opacity: 1;
  }
  100% {
    right: -200%;
    opacity: 1;
  }
}
/*# sourceMappingURL=styles.css.map */
